---
include:
  - path: stacks/vpn-torrent/compose.yml
  - path: stacks/arr/compose.yml
  - path: stacks/plex/compose.yml
  - path: stacks/media-tools/compose.yml
  - path: stacks/transcoding/compose.yml
