---
services:
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    network_mode: bridge
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
      - 8267:8267 # Internal node port
    environment:
      - TZ=${TIMEZONE}
      - PUID=${PUID_TDARR}
      - PGID=${PGID}
      - UMASK_SET=002
      - serverIP=127.0.0.1
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - nodeName=MyInternalNode
    volumes:
      - /config/tdarr-server-config:/app/server
      - /config/tdarr-server-config:/app/configs
      - /config/tdarr-server-config/logs:/app/logs
      - /data/media:/media
      - /transcode_cache:/temp

  tdarr-node:
    container_name: tdarr-node
    image: ghcr.io/haveagitgat/tdarr_node:latest
    restart: unless-stopped
    network_mode: service:tdarr
    environment:
      - TZ=${TIMEZONE}
      - PUID=${PUID_TDARR_NODE}
      - PGID=${PGID}
      - UMASK_SET=002
      - nodeName=MainNode
      - serverIP=0.0.0.0
      - serverPort=8266
      - inContainer=true
    volumes:
      - /config/tdarr-client-config:/app/configs
      - /config/tdarr-client-config/logs:/app/logs
      - /data/media:/media
      - /transcode_cache:/temp

